<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controllerusuario</servlet-name>
        <servlet-class>controladores.controllerusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllercliente</servlet-name>
        <servlet-class>controladores.controllercliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerboleta</servlet-name>
        <servlet-class>controladores.controllerboleta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllergenero</servlet-name>
        <servlet-class>controladores.controllergenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerpago</servlet-name>
        <servlet-class>controladores.controllerpago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerpelicula</servlet-name>
        <servlet-class>controladores.controllerpelicula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerproyeccion</servlet-name>
        <servlet-class>controladores.controllerproyeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllersala</servlet-name>
        <servlet-class>controladores.controllersala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerteatro</servlet-name>
        <servlet-class>controladores.controllerteatro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controllerusuario</servlet-name>
        <url-pattern>/usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllercliente</servlet-name>
        <url-pattern>/cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerboleta</servlet-name>
        <url-pattern>/boleta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllergenero</servlet-name>
        <url-pattern>/genero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerpago</servlet-name>
        <url-pattern>/pago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerpelicula</servlet-name>
        <url-pattern>/pelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerproyeccion</servlet-name>
        <url-pattern>/proyeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllersala</servlet-name>
        <url-pattern>/sala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerteatro</servlet-name>
        <url-pattern>/teatro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
